@inherits LayoutComponentBase

<div class="page d-flex">
    <main style="height: 100%; width: 100%;">
        <article style="padding: 0px !important;">
            @Body
        </article>
    </main>
</div>
